{
  "printWidth": 75,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "tailwindConfig": "./tailwind.config.ts",
  "plugins": ["prettier-plugin-tailwindcss"]
}
